:root {
  --primary-color: #1180f1;
  /* --primary-color: violet; */
  --primary-black: black;
  --primary-gray: #edf0f4;
  --primary-white: white;
  --fontsize-xxxl: 4.8rem;
  --fontsize-xxl: 3.2rem;
  --fontsize-xl: 2.4rem;
  --fontsize-lg: 1.6rem;
  --fontsize-md: 1.4rem;
  --fontsize-sm: 1.2rem;
  --fontcolor-primary: #000;
  --fontcolor-secondary: #798da3;
}

@media (prefers-color-scheme: dark) {
  :root {
  }
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
}

a {
  color: inherit;
  text-decoration: none;
}

/* @media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */

@media (width <= 500px) {
  :root {
    --fontsize-xxxl: 3.4rem;
    --fontsize-xxl: 2.4rem;
    --fontsize-xl: 1.8rem;
    --fontsize-lg: 1.4rem;
    --fontsize-md: 1.2rem;
    --fontsize-sm: 1rem;
  }
}

/** few antd overrides **/
.ant-radio-button-wrapper-checked {
  background-color: var(--primary-color) !important;
  border-color: var(--primary-color) !important;
}

.ant-radio-button-wrapper-checked:not(
    .ant-radio-button-wrapper-disabled
  )::before {
  display: none;
}
