.header {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 7.2rem;
  background-color: var(--primary-white);
  /* box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.01); */
}

.space {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0px 2.4rem;
}
