.navlink-container {
  text-align: center;
}

.navlink-container a {
  text-decoration: none;
  /* color: var(--primary-color); */
  /* font-weight: bold; */
  font-size: var(--fontsize-md);
}

.activeNavLink a {
  font-weight: bold;
  color: var(--primary-color);
}
