.customButtonName {
  background-color: var(--primary-color);
  color: var(--primary-white);
  border-radius: 50rem;
  text-align: center;
}

.customButtonName > p {
  margin: 0;
  font-weight: bold;
}

.customButtonName :hover {
  cursor: pointer;
}
